.visao{
	border:1px solid black;
}

#div_logo{
	height: 200px
}

#row_header{
	margin-top: 100px;
}





.rodape_right{
	position: absolute;
	left: 89%;
	top: 95%;

}



.rodape_left{
	position: absolute;
	left: 1	%;
	top: 95%;
}

