.teste{
	border: 1px solid red;
}
/* Index */

#campo_busca{
	position: absolute;
	width: 100%;
	z-index: 1;
}
#campo_resultado{
	margin-top: 35px;
	z-index: 2;
}
comm
#btn_search, #input{
border-radius: 0px;
box-shadow: 0px 10px #DCDCDC;
border:1px solid #318ba2;
}

#btn_search{
	 box-shadow: 5px 10px #DCDCDC;
}

/*---Joga o rodapé no final da pagina---*/
footer{
	background-color: #DCDCDC;
	border-top: 1px #A9A9A9 solid;
	position: absolute;
    bottom: 0px;
    width: 100%;
}
html
{
	position: relative;
	min-height: 100%;
}
body
{
	margin: 0 0 60px;
}
/*-------------------------------------*/

.footer1{
	top: 100%;
	width: 100%;
	position:absolute;
}



header h1{
	display: inline;
}

#footer_right{
	right: 0 ;
	position: absolute;
	text-align: right;
}

/* Bootstrap */

.btn-link{
	color: #696969;
	font-size: 12px;
}

.btn-warning
{
	background-color: #318ba2;
	font-color: white;
}

/* QueryUI */

.ui-corner-all{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	
}

.ui-menu{
	border:1px solid gold;
}