/* CABEÇALHO */
header{
	background-color: whitesmoke;
	z-index: 1;
}
#div_input{
    margin-top: 50px;
}

/* MENU */
.menu {
    background: #318ba2	 repeat left top;
    /*border-right:3px solid #4169E1;*/
    left: -350px;
    overflow:auto;
    position:fixed;
    height: 100%;
    width: 300px;
    z-index: 1;
}
/* BOTOES DO MENU */
.menu ul li button {
    line-height: 45px;
    padding-bottom: 3px;
    margin-bottom: 5px;
    border: 0px solid #191970;
	margin-left:7px;
	width: 95%;
	background-color:#6cbcb2 ;
    color: white;
    font-size: 20px;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    border-radius: 30px
}

/* BTN PASSAR POR CIMA */
.menu li .btn-link:hover{
    /*color: white;*/
    background-color: #0296c8;
    border: 1px solid gold;
    text-decoration:none;
}

/* FOCO NO BTN */
.menu li .btn-link:focus{
    color: white;
    border: 2px solid #191970;
    background-color: #4169E1
}

/* BTN FOI CLICKADO */
.btn-link:focus{
    text-decoration:none;
    border: 2px solid white;
    outline-color: transparent;
}
 
/* BORDA NO BTN DO FOOTER */
footer .btn-link:hover{
	text-decoration:none;
	border: 1px solid gold;
}

.icon-menu button:focus, #btn_fechar:focus{
	color:black;
}

.btn-link:active{
	text-decoration:none;
	outline-color: transparent;
}

.menu li .btn-link:active{
    color: white;
	outline-color: transparent;
}

.menu a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid;

}

.icon-close {
    cursor: pointer;
    padding-right: 30px;
    text-align: right;
    padding-top: 10px;
    color: #fbb742;
    font-size: 30px;
}

.icon-menu {
	color: #fbb742;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    z-index: -1;
    padding-top: 5px;
}

#li_cidades, #li_classificacao, #li_acomidades{
	font-size: 15px;
	color: #8B0000;

}

#li_cidades li{
    background-color: #FF8C00;
    border-bottom:3px solid #FFA500;    
}

/* ============================== Coisas Inuteis ============================== */

button{
	background-color: Transparent;
	border: 1px solid Transparent;
}

.icon-menu i {
    margin-right: 5px;
}

.icon-menu p {
    border-bottom: 2px solid;
    max-width: 79px;
}

#btn_filter{
	display: inline;
	background-color:transparent;

}

#btn_fechar:focus,#btn_menu:focus,#btn_fechar:active,#btn_menu:active{
	outline-color: transparent;
}

footer{
	z-index: 1;
}


a{
	text-decoration:none;
}

#btn_search, #input{
box-shadow: 0px 0px #DCDCDC;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#coluna_filter{

}

/* ========================== Barra de BTNS filtros ========================== */
#barra_btn_filter{
    background-color:#DCDCDC;
    margin-top: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #b3b3b3;
}

#barra_btn_filter button{
    margin: 5px 3px 5px 3px;
    color: black;
}

#barra_btn_filter .glyphicon-remove{
    color: white;
}

/* ============================= GRID ================================== */

#grid{
    border:1px solid; 
    height: 250px; 
    margin-top: 10px;
    border:1px solid #b3b3b3; background-color:#DCDCDC ;
    border-radius: 1px;
    }

#row_grid{
    margin-left: auto;
    margin-right: auto;
    width: 616px;    
}    

#img{ 
    margin-top:15px;
}

#row_grid .col-md-5{
    padding-left:0px;
}
#row_grid .col-md-12{
    padding-right:0px;
}

#informacoes{
    margin-top:15px; 
    margin-left: 15px; 
    background-color:#DCDCDC;
    
    border-left:2px solid #b3b3b3; 
    height: 220px; }

#title{
    text-align: center;
}
#last_row{
    padding-bottom:15px;
}
.uma_info{
    padding-left: 15px; 
    padding-top: 10px; 
    padding-bottom: 5px;
}

#coluna_grid img{
    height: 220px;
    width: 245px;
    border: 1px solid #b3b3b3;
    border-radius: 0px;
}
#coluna_grid {
    overflow:auto;
    height: 450px;
    margin-top: 15px;
    border:0px solid black;
    border-right: 0px;
    border-left-style: 0px;
    width: 100%;
}
#row_grid .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
border:0px solid black;
outline: 0px;
}
#row_grid  .btn-link:active {
border:1px solid black;
outline: 0px;
}