#img_logo{
	border:1px solid black;

}

#div_img,#div_search{
	height: 200px;
	border:1px solid black;
}

#input_search{
	margin-top: 155px;
}

#row_content{
	margin-top: 5px;
	padding-bottom: 50px;
}

#teste{
	border:1px solid black;
	
}

#coluna_filter{
	border-right: 1px solid #A9A9A9	;
	height: 500px;
	width: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#btn_city,#btn_classificacao,#btn_acomodidades{
	padding-right: 25px;
	margin-top: 20px;
}

#div_keys{
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	background-color:#D3D3D3;
}

.btn_divKeys{
	margin-bottom: 8px;
	margin-right: 5px;
}


#rodape
{
	background-color: #474344;
	font-family: "Times New Roman", Times, serif;
	font-color: #d9d9d9;
	font-size:medium;
	padding-top: 60px;
	padding-bottom: 20px;
}
#frodape
{
	background-color: #766f71;
	font-family: "Times New Roman", Times, serif;
	font-color: #d9d9d9;
}
#contato{
	color: white;
}

/* Grid */

#coluna_grid{
	background-color: #b3b3b3; 
	border-radius: 5px;
	margin-left: 10px;
}

.item_Grid{
	margin-top: 15px;
	margin-bottom: 20px;
	margin-right: 15px;
	margin-left: 15px;
	background-color: #e6e6e6;
	box-shadow: 8px 8px 5px grey;
	border-radius:  5px;
	border:1px  solid #A9A9A9;
	
}
.img_Grid{
	/*max-width: 200px;
	max-height: 200px;
	*/
	margin-top: 10px;
	margin-bottom: 5px;
}
.label_NomeHotel{

	border-top: 1px solid black;
	padding-top: 5px;
	text-align: center;
}
.labels_Grid{
	font-size: 11px;
	text-align: left;
}