/* CABEÇALHO */
header{
	background-color: whitesmoke;
	z-index: 1;
}

#div_input{
    margin-top: 40px;
}

/* MENU */
.menu {
    background: #318ba2	 repeat left top;
    /*border-right:3px solid #4169E1;*/
    left: -350px;
    overflow:visible;
    position:absolute;
    height: 80%;
    width: 300px;
    z-index: 1;
}
/* BOTOES DO MENU */
.menu ul li button {
    line-height: 45px;
    padding-bottom: 3px;
    margin-bottom: 5px;
    border: 0px solid #191970;
	margin-left:7px;
	width: 95%;
	background-color:#6cbcb2 ;
    color: white;
    font-size: 20px;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    border-radius: 30px
}

/* BTN PASSAR POR CIMA */
.menu li .btn-link:hover{
    /*color: white;*/
    background-color: #0296c8;
    border: 1px solid gold;
    text-decoration:none;
}

/* FOCO NO BTN */
.menu li .btn-link:focus{
    color: white;
    border: 2px solid #191970;
    background-color: #4169E1
}

/* BTN FOI CLICKADO */
.btn-link:focus{
    text-decoration:none;
    border: 2px solid white;
    outline-color: transparent;
}
 
/* BORDA NO BTN DO FOOTER */
footer .btn-link:hover{
	text-decoration:none;
	border: 1px solid gold;
}


.icon-menu button:focus, #btn_fechar:focus{
	color:black;
}

.btn-link:active{
	text-decoration:none;
	outline-color: transparent;
}

.menu li .btn-link:active{
    color: white;
	outline-color: transparent;
}

.menu a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid;

}

.icon-close {
    cursor: pointer;
    padding-right: 30px;
    text-align: right;
    padding-top: 10px;
    color: #fbb742;
    font-size: 30px;
}

.icon-menu {
	color: #fbb742;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    z-index: -1;
    padding-top: 5px;
}

#li_cidades, #li_classificacao, #li_acomidades{
	font-size: 20px;
	/*color: #8B0000;*/

}

#li_cidades li{
   /* background-color: #FF8C00;
    border-bottom:3px solid #FFA500;    */
}

/* ============================== Coisas Inuteis ============================== */

button{
	background-color: Transparent;
	border: 1px solid Transparent;
}

.icon-menu i {
    margin-right: 5px;
}

.icon-menu p {
    border-bottom: 2px solid;
    max-width: 79px;
}

#btn_filter{
	display: inline;
	background-color:transparent;

}

#btn_fechar:focus,#btn_menu:focus,#btn_fechar:active,#btn_menu:active{
	outline-color: transparent;
}

footer{
	z-index: 1;
}


a{
	text-decoration:none;
}

#btn_search, #input{
box-shadow: 0px 0px #DCDCDC;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#coluna_filter{
    margin-right: 0px;
    margin-left: 0px;

}

#coluna_grid{
    margin-bottom: 300px;
}

/* ========================== Barra de BTNS filtros ========================== */
#barra_btn_filter{
    background-color:#DCDCDC;
    margin-top: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #b3b3b3;
}

#barra_btn_filter button{
    margin: 5px 3px 5px 3px;
    color: black;
}

#barra_btn_filter .glyphicon-remove{
    color: white;
}

/* ============================= GRID ================================== */

#grid{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:1px solid #b3b3b3; 
    background-color:white ;
    border-radius: 1px;

}

#img{
    padding-left:0px;
    padding-right:0px;
   
}

#img_img{
    max-height: 206px;
    width: 310px;
}

#informacoes label{
    display: block;
}

#informacoes button{
    padding-left: 0px;
    padding-right: 0px;
}

#btn_plus_info:focus, #btn_plus_info:active{
    outline:0px solid transparent;
    
}

#btn_plus_info:active{
    color: gold;
   
}

#coluna_grid{
    position: relative;
}


#grid #img img{
    border:1px solid #b3b3b3; 
}

#sub_grid{
    border:1px solid; 
    height: 250px; 
<<<<<<< HEAD
    border:1px solid #b3b3b3; 
    background-color:white ;
    border-radius: 1px;
    margin-bottom: 15px;
}

#btn-fechar{
    right: 0;
    position: absolute;
    padding-top: 10px;
}

#btn-fechar:focus , #btn-fechar:active{
    outline:0px solid transparent;

}
#btn-fechar:active{
    color: gold;

}


/*--------------------------------------------------------------------------------------*/
/*CheckBox*/
.customcheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Esconde o checkbox padrão do navegador */
.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Cria o checkbox custom */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}
=======
    margin-top: 10px;
    border:1px solid #b3b3b3; background-color:#DCDCDC ;
    border-radius: 1px;
    }
>>>>>>> fad09dc694cc2c5ba22d76b957c6c46d5fafad08

/* On mouse-over, adiciona background cinza */
.customcheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* Com o checkBox checado, adiciona um fundo azul */
.customcheck input:checked ~ .checkmark {
    background-color: #23527c;
    border-radius: 5px;
}
<<<<<<< HEAD
=======

#row_grid .col-md-5{
    padding-left:0px;
}
#row_grid .col-md-12{
    padding-right:0px;
}

#informacoes{
    margin-top:15px; 
    margin-left: 15px; 
    background-color:#DCDCDC;
    
    border-left:2px solid #b3b3b3; 
    height: 220px; }
>>>>>>> fad09dc694cc2c5ba22d76b957c6c46d5fafad08

/* cria o checkmark/indicador (esconde quando não checado) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
<<<<<<< HEAD

/* Mostra a checkmark quando marcado */
.customcheck input:checked ~ .checkmark:after {
    display: block;
}

/* stiliza o checkmark/indicador */
.customcheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
=======
#last_row{
    padding-bottom:15px;
}
.uma_info{
    padding-left: 15px; 
    padding-top: 10px; 
    padding-bottom: 5px;
}

#coluna_grid img{
    height: 220px;
    width: 245px;
    border: 1px solid #b3b3b3;
    border-radius: 0px;
}
#coluna_grid {
    overflow:auto;
    height: 450px;
    margin-top: 15px;
    border:0px solid black;
    border-right: 0px;
    border-left-style: 0px;
    width: 100%;
}
#row_grid .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
border:0px solid black;
outline: 0px;
}
#row_grid  .btn-link:active {
border:1px solid black;
outline: 0px;
>>>>>>> fad09dc694cc2c5ba22d76b957c6c46d5fafad08
}