footer {
    position:relative;
    bottom:0;
    width:100%;
}
h2
{
	color: #6cbcb2;
	margin-left: 20px;
}
.apresentacao
{
	font-family: lucida console;
	font-size: 15px;
	color: #318ba2;
}
#back-fale
{
	background-color: #318ba2;
	padding: 5px 0px 15px 0px;
	margin: 10px 0px 30px 0px;
}
.label_campos
{
	padding-top: 10px;
}

#botao
{
	margin: 10px 0px 0px 0px;
	/* talvez apareça emoutro lugar*/
}
#texto
{
	text-align: center;
}
#apresentacao
{
	font-family: lucida console;
	font-size: 20px;
	color: #4d88ff;
}
#botao
{
	margin: 10px 0px 0px 0px;
}