/*formata o cabeçalho*/
/*#cabeca
{
	background-color: #262626;
	margin: 0px 0px 5px 0px;
}*/

/*Deixa laranja a barra de pesquisa ao clicar nela*/
.form-control:focus
{
	border-color: #fdad00;
}

/*#rodape
{
	position: absolute;
	bottom: 0;
	width: 100%;*/