/*  header  */
header{
	background-color: #333;
	z-index: 1;
	max-height: 132px;
}

header img{
	margin-left: 25px;
}

header h1{
	display: inline;
}


article{
	z-index: -1;
	position: absolute;	
	margin-top: 5px;
	
}

footer {
	position:fixed;
	bottom:0%;
	width:100%; 
}

footer #bug{
	text-align: right;
}


/* ID */

#div_input{
	margin-left: 30px;
	margin-top: 60px;
}

#coluna_grid{
	margin-left: 50px;
	max-height: 600px; 
	overflow:auto;

}

#coluna_filter{
	border-right: 1px solid #A9A9A9	;
	height: 500px;
	width: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 15px;
}

#btn_city,#btn_classificacao,#btn_acomodidades{
	padding-right: 25px;
	margin-top: 20px;
}

#div_keys{
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	background-color:#D3D3D3;
}

/* CLASS */

.teste{
	border:1px solid black;	
}

.btn_divKeys{
	margin-bottom: 8px;
	margin-right: 5px;
}

